@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Index</title>
</head>
<body>
    <h1>This is Employee Index Page </h1>
</body>
</html>
