@page
@model CreateModel
<form class="" method="post">
    <div class="p-3 pt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Add Product</h2>
            <hr />
        </div>
        <div class="mb-2">
            <label asp-for="product.productId"></label>
            <input asp-for="product.productId" class="form-control" />
            <span asp-validation-for="product.productId" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="product.productName"></label>
            <input asp-for="product.productName" class="form-control" />
            <span asp-validation-for="product.productName" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="product.price"></label>
            <input asp-for="product.price" class="form-control" />
            <span asp-validation-for="product.price" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="product.quantity"></label>
            <input asp-for="product.quantity" class="form-control" />
            <span asp-validation-for="product.quantity" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <button type="submit" value="Create" class="btn btn-primary">Add Product</button>
            <a asp-page="Index" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}






